@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Salsa&display=swap");
* {
  font-family: Helvetica, sans-serif;
}
h1 {
  font-family: "Salsa", system-ui;
}
body {
  background-image: url("public/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
